/* ini css */

*, body {
  font-family: 'Poppins', sans-serif; /* Mengatur font untuk semua elemen dan body menjadi 'Poppins' */
  margin: 0; /* Mengatur margin menjadi 0 untuk menghilangkan jarak antara elemen dengan tepi */
  padding: 0; /* Mengatur padding menjadi 0 untuk menghilangkan ruang antara konten dengan tepi */
  /* border: 1px solid red; Mengatur border 1px dengan warna merah untuk semua elemen dan body */
}

body{
  background-color: rgb(235, 255, 161); /* Mengatur warna latar belakang untuk body */
}

header{
  text-align: center; /* Mengatur teks untuk ditengah */
  padding-bottom: 15px; /* Mengatur padding bawah 15px untuk header */
  padding-top: 20px; /* Mengatur padding atas 20px untuk header */
  margin-bottom: 20px; /* Mengatur margin bawah 20px untuk header */
  background-color: rgb(255, 217, 0); /* Mengatur warna latar belakang header menjadi kuning */
  border-bottom-left-radius: 15px; /* Mengatur sudut kiri bawah header menjadi 15px */
  border-bottom-right-radius: 15px; /* Mengatur sudut kanan bawah header menjadi 15px */
  color: white; /* Mengatur warna teks menjadi putih */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267); /* Mengatur bayangan untuk header */
}

main{
  width: 100%; /* Mengatur lebar menjadi 100% untuk main */
  padding: 40px; /* Mengatur padding untuk main */
  background-color: aliceblue; /* Mengatur warna latar belakang untuk main */
  border-radius: 10px; /* Mengatur sudut untuk main */
}

main p{
  margin-bottom: 20px; /* Mengatur margin bawah untuk paragraf dalam main */
}

form{
  background-color: rgba(255, 251, 32, 0.473); /* Mengatur warna latar belakang untuk form */
  padding: 20px; /* Mengatur padding untuk form */
  margin-bottom: 15px; /* Mengatur margin bawah untuk form */
  border-radius: 10px; /* Mengatur sudut untuk form */
}

form h3{
  margin-bottom: 4px; /* Mengatur margin bawah untuk judul form */
}

form label{
  margin-right: 20px; /* Mengatur margin kanan untuk label */
  padding-left: 10px; /* Mengatur padding kiri untuk label */
}

form input{
  margin-bottom: 30px; /* Mengatur margin bawah untuk input */
}

.berat, .umur, .tinggi{
  -webkit-appearance: none; /* Mengatur tampilan untuk input berat, umur, dan tinggi agar tidak ada tanda panah di chrome*/
  -moz-appearance: textfield; /* Mengatur tampilan untuk input berat, umur, dan tinggi agar tidak ada tanda panah di firefox*/
}

form button{
  padding: 5px 15px; /* Mengatur padding untuk tombol */
  margin-right: 10px; /* Mengatur margin kanan untuk tombol */
  border-radius: 8px; /* Mengatur sudut untuk tombol */
  font-weight: 700; /* Mengatur font-weight untuk tombol */
}

.hitung{
  background-color: rgb(0, 89, 255); /* Mengatur warna latar belakang untuk tombol hitung */
  color: white; /* Mengatur warna teks untuk tombol hitung */
  transition: all ease .1s; /* Mengatur transisi untuk tombol hitung */
}

.hitung:hover{
  background-color: rgb(28, 28, 150); /* Mengatur warna latar belakang saat hover untuk tombol hitung */
}

.reset{
  background-color: rgb(255, 54, 54); /* Mengatur warna latar belakang untuk tombol reset */
  color: white; /* Mengatur warna teks untuk tombol reset */
  transition: all ease .1s; /* Mengatur transisi untuk tombol reset */
}

.reset:hover{
  background-color: rgb(134, 26, 26); /* Mengatur warna latar belakang saat hover untuk tombol reset */
}


.list{
  margin-left: 25px; /* Mengatur margin kiri untuk daftar */
}

section{
  width: 100%; /* Mengatur lebar menjadi 100% untuk section */
  padding: 40px; /* Mengatur padding untuk section */
  background-color: aliceblue; /* Mengatur warna latar belakang untuk section */
  border-radius: 10px; /* Mengatur sudut untuk section */
}

aside{
 display: flex; /* Mengatur tampilan untuk aside */
 padding: 25px; /* Mengatur padding untuk aside */
 gap: 18px; /* Mengatur jarak antar elemen dalam aside */
}

section h2{
  text-align: center; /* Mengatur teks untuk ditengah */
  margin-bottom: 10px; /* Mengatur margin bawah untuk judul section */
}

.hasil{
  background-color: rgba(255, 251, 32, 0.473); /* Mengatur warna latar belakang untuk hasil */
  width: auto; /* Mengatur lebar menjadi auto untuk hasil */
  padding: 10px; /* Mengatur padding untuk hasil */
  border-radius: 10px; /* Mengatur sudut untuk hasil */
  text-align: center; /* Mengatur teks untuk ditengah */
}

.hasil h1{
  margin-top: 10px; /* Mengatur margin atas untuk judul hasil */
  margin-bottom: 10px; /* Mengatur margin bawah untuk judul hasil */
  font-size: 3em; /* Mengatur ukuran font untuk judul hasil */
}

.download-bmi{
  margin-top: 20px; /* Mengatur margin atas untuk tombol download BMI */
  padding: 5px 20px; /* Mengatur padding untuk tombol download BMI */
  border-radius: 5px; /* Mengatur sudut untuk tombol download BMI */
  background-color: rgb(255, 174, 0); /* Mengatur warna latar belakang untuk tombol download BMI */
  color: white; /* Mengatur warna teks untuk tombol download BMI */
  font-weight: 700; /* Mengatur font-weight untuk tombol download BMI */
  transition: all ease .1s; /* Mengatur transisi untuk tombol download BMI */
}

.download-bmi:hover{
  background-color: rgb(212, 133, 13); /* Mengatur warna latar belakang saat hover untuk tombol download BMI */
}

.konsultasi{
  padding: 5px 20px; /* Mengatur padding untuk tombol konsultasi */
  border-radius:5px; /* Mengatur sudut untuk tombol konsultasi */
  background-color: rgb(255, 174, 0); /* Mengatur warna latar belakang untuk tombol konsultasi */
  color: white; /* Mengatur warna teks untuk tombol konsultasi */
  font-weight: 700; /* Mengatur font-weight untuk tombol konsultasi */
  transition: all ease .1s; /* Mengatur transisi untuk tombol konsultasi */
}

.konsultasi:hover{
  background-color: rgb(212, 133, 13); /* Mengatur warna latar belakang saat hover untuk tombol konsultasi */
}

.registrasi{
  padding: 5px 20px; /* Mengatur padding untuk tombol registrasi */
  border-radius:5px; /* Mengatur sudut untuk tombol registrasi */
  background-color: rgb(255, 174, 0); /* Mengatur warna latar belakang untuk tombol registrasi */
  color: white; /* Mengatur warna teks untuk tombol registrasi */
  font-weight: 700; /* Mengatur font-weight untuk tombol registrasi */
  transition: all ease .1s; /* Mengatur transisi untuk tombol registrasi */
}

.registrasi:hover{
  background-color: rgb(212, 133, 13); /* Mengatur warna latar belakang saat hover untuk tombol registrasi */
}

footer{
  text-align: center; /* Mengatur teks untuk ditengah */
  font-size: 12px;    /* Mengatur ukuran font menjadi 12 pixel */
  color: rgb(80, 80, 80);    /* Mengatur warna teks menjadi abu-abu */
  margin-top: 20px;    /* Mengatur margin atas menjadi 20 pixel */
  margin-bottom: 20px;
}